<%= render template: "people/new" %>

<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nombre y apellidos</th>
            <th>Apodo</th>
            <th>Agregado el</th>
          </tr>
        </thead>
        <tbody>
          <% @people.each do |person| %>
            <tr>
              <td><%= person.nombre %></td>
              <td><%= person.apodo %></td>
              <td><%= person.created_at.strftime("%d %B, %Y") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>