<div class="page-title">
  <div class="title_left">
    <h3>Búsqueda <small>por redes sociales</small></h3>
  </div>
</div>

<%= form_tag({controller: "dashboard", action: "nickname"}, method: "get", class: "form-horizontal form-label-left") do |f| %>

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nickname <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= text_field(:social, :nickname, class: "form-control col-md-7 col-xs-12", value: (params[:social][:nickname] if params[:social])) %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
      <%= submit_tag("Buscar", class: "btn btn-success") %>
    </div>
  </div>

  <div class="ln_solid"></div>
<% end %>

<div class="clearfix"></div>


<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <div class="col-xs-12 col-sm-6 emphasis">
        <h2>Resultados <small>de búsqueda</small></h2>
      </div>
      <div class="col-xs-12 col-sm-6 emphasis text-right">
        <button id="ShowModalAsignar" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Asignar</button>
      </div>
      <div class="clearfix"></div>
    </div>

    <div class="x_content">
      <div id="social-table" class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
          <thead>
            <tr class="headings">
              <th>
                <input type="checkbox" id="check-all" class="flat">
              </th>
              <th class="column-title">Foto </th>
              <th class="column-title">Origen </th>
              <th class="column-title">Nombres y Apellidos </th>
              <th class="column-title"> </th>
              </th>
              <th class="bulk-actions" colspan="7">
                  ( <span class="action-cnt"> </span> )
              </th>
            </tr>
          </thead>

          <tbody>
            <% if @social_people %>
            <% @social_people.each do |person| %>
                <% if !person.empty? %>
                <tr class="even pointer">
                  <td class="a-center ">
                    <input type="checkbox" class="flat" name="table_records">
                  </td>
                  <td class=" "><%= image_tag person[:img], style: "height: 7em;"  %> </td>
                  <td class=" "><%= person[:origen] %> </td>
                  <td class=" last">
                    <%= link_to person[:name], person[:link] %>
                  </td>
                </tr>
                <% end %>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">
          Asociación de personas 
          <%= button_to search_people_path, remote: true, class: "btn btn-primary", data: {nombre: "", apodo: ""} do %>
            <i class='fa fa-refresh'></i>
          <% end %>
        </h4>
      </div>
      <div class="modal-body">
        <div>
          
          <%= form_tag(search_people_path, method: "post", remote: true, class: "x_title form-horizontal form-label-left input_mask") do %>
            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
              <%= text_field_tag(:nombre, "", class: "form-control has-feedback-left", placeholder: "Nombre") %>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
              <%= text_field_tag(:apodo, "", class: "form-control has-feedback-left", placeholder: "Apodo") %>
              <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 form-group has-feedback">
              <button type="submit" class="btn btn-success" style="width: 100%">Buscar</button>
            </div>
          <% end %>

          <div class="x-panel">
            <%= render partial: "people/table_people_search", locals: {people: @people} %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Guardar</button>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="myModalLabel2">Detalle de persona</h4>
      </div>
      <div id="content_detail_search" class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>

    </div>
  </div>
</div>

<script type="text/javascript">
  // $(document).on("turbolinks:load", function() {
		$('#ShowModalAsignar').hide();
    
    $("#ShowModalAsignar").on("click", function()
    {
      let all_selected = $("#social-table tr.selected a");
      console.log(all_selected);
    })
    
  // });
</script>   