<form class="form-horizontal form-label-left">
  
  <% if !detail[:name].nil? %>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" placeholder="Default Input" value="<%= detail[:name]%>">
    </div>
  </div>
  <% end %>

  <% if !detail[:photo].nil? %>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Foto</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" placeholder="Default Input" value="<%= detail[:photo]%>">
    </div>
  </div>
  <% end %>
  
  <% if !detail[:places].empty?  %>
    <% detail[:places].each do |place| %>
      <% place.each do |key, value| %>
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= key %></label>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="text" class="form-control" placeholder="Default Input" value="<%= value %>">
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

    <% if !detail[:academic].empty?  %>
    <% detail[:academic].each do |category_academic| %>
      <% category_academic.each do |academic| %>
        <% academic.each do |key, value| %>
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12"><%= key %></label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" class="form-control" placeholder="Default Input" value="<%= value %>">
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if !detail[:bio].nil? %>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Biografia</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" placeholder="Default Input" value="<%= detail[:bio]%>">
    </div>
  </div>
  <% end %>

  <% if !detail[:url].nil? %>
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Url</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <input type="text" class="form-control" placeholder="Default Input" value="<%= detail[:url]%>">
    </div>
  </div>
  <% end %>
</form>