<div id="register" class="form">
  <section class="login_content">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <h1>Crear una cuenta</h1>

      <%= devise_error_messages! %>

      <div class="field text-left">
        <%= f.label :email, "Email" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
      
      <div class="field text-left">
        <%= f.label :username, "Nombre de usuario" %><br />
        <%= f.text_field :username, autocomplete: "username", class: "form-control" %>
      </div>

      <div class="field text-left">
        <%= f.label :password, "Contraseña" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> carácteres mínimos)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="field text-left">
        <%= f.label :password_confirmation, "Confirmar contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Crear cuenta", class: "btn btn-primary submit submit-button" %>
      </div>
    <% end %>

    
      <div class="separator">
        <p class="change_link">Ya tienes cuenta?
          <%= render "devise/shared/links" %>
        </p>
      </div>
  </section>
</div>

