<%= form_for @person, url: {controller: "people", action: "create" }, html: {class: "form-horizontal form-label-left"} do |f| %>

  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Ingrese Nombre <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :nombre, class: "form-control col-md-7 col-xs-12" %>
    </div>
  </div>
  <div class="form-group">
    <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Ingrese Apodo</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <%= f.text_field :apodo, class: "form-control col-md-7 col-xs-12" %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
      <%= f.submit "Registrar", class: "btn btn-success" %>
    </div>
  </div>

  <div class="ln_solid"></div>
<% end %>

