<table id="table_social_search" class="table table-striped">
  <thead>
    <tr>
      <th>Seleccionar</th>
      <th>Nombre y apellidos</th>
      <th>Apodo</th>
    </tr>
  </thead>
  <tbody>
    <% people.each do |person| %>
      <tr>
        <td><%= radio_button_tag(:social_selected, person.id, false, class: "flat") %></td>
        <td><%= person.nombre %></td>
        <td><%= person.apodo %></td>
      </tr>
    <% end %>
  </tbody>
</table>