<div class="animate form login_form">
  <section class="login_content">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1><i class="fa fa-eye"></i> OSINT</h1>
      <div class="field text-left">
        <%= f.label :login, "Usuario o email" %><br />
        <%= f.text_field :login, autofocus: true, autocomplete: "username", class: "form-control" %>
      </div>

      <div class="field text-left">
        <%= f.label :password, "Contraseña" %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Iniciar sesión", class: "btn btn-primary submit submit-button" %>
      </div>

      
      <div class="clearfix"></div>
      

      <div class="separator">
        <div>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </section>
</div>
