/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "gentelella";
 @import "gentelella-custom";

 .alert
 {
   margin-bottom: 0;
   border-radius: 0;
 }

 .button_to
 {
   display: inline;
 }

 .form-control::placeholder
 {
   color: rgba(gray, .4);
 }

 table.table-striped td
 {
  vertical-align: middle !important;
 }

 @media (min-width: 768px){
  .modal-sm {
      width: 500px;
  }
}

.submit-button
{
  width: 100%;
  margin-left: 0 !important;
}

.separator
{
  font-size: 16px;
}